@font-face {
  font-family: "figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
  font-family: "SemiBold";
  src: url(assets/fonts/static/Figtree-SemiBold.ttf);
}
@font-face {
  font-family: "ExtraBold";
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

body {
  background-color: rgb(244, 208, 78);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 520px;
  margin: 30px;
  padding: 20px;
  box-shadow: 20px 10px 0px;
  border: black;
  border-radius: 20px;
}

.image1 {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  object-fit: fill;
}
.image1 img {
  width: 100%;
  height: 100%;
}

.category {
  background-color: rgb(244, 208, 78);
  padding: 5px 20px;
  margin-top: 20px;
  font-weight: 900px;
  font-family: "ExtraBold";
  font-size: 15px;
  width: fit-content;
  border-radius: 6px;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  color: black;
  font-family: "figtree";
}

footer {
  text-align: left;
  margin: 20px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: ExtraBold;
}

.image2 {
  display: flex;
  justify-content: left;
}

.text1 {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: SemiBold;
}

p {
  font-family: figtree;
  font-weight: 50px;
  color: grey;
}
